<div class="text-center">
  <h2>{{name}}</h2> <!-- replace to ownerName as in Owner.js file from models?????-->
  <p>
    <button class="btn btn-primary">Pet Owner</button>
  </p>
</div>

<!-- Loop over each object in the owners array -->
{{#each owners as |owner| }}
<div class="row mb-4 owner">
  <div class="col-md-5">
    <h2>
      <a href="/owner/{{owner.id}}">{{owner.name}}</a>
    </h2>
<!--???delete line 16???-->
      <p>Created by {{owner.user.name}} on {{format_date owner.date_created}}</p>
  </div>
  <!--???delete lines 19-23? there is no owner description-->
  <div class="col-md-7">
    <p>
      {{owner.description}}
    </p>
  </div>
</div>
{{/each}}

<script src="./js/login.js"></script>