<div class="row mt-4">
  {{#if requests.length}}
  <div class="centered">
    <h4>Current Requests:</h4>
    <table class="striped centered">
      <thead>
        <tr>
          <th>Pet Name</th>
          <th>Service Type</th>
          <th>Service Start Date</th>
          <th>Service End Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each requests as |request|}}
        <tr>
          <td> <a href="/request/{{request.id}}"> {{request.petName}}:</td>
          <td>{{request.serviceType}}</td>
          <td>{{format_date request.serviceStartDate}}</td>
          <td>{{format_date request.serviceStartDate}}</td>
        </tr>
        {{/each}}
  </div>
  {{else}}
  <h3>No Requests yet</h3>
</div>
</tbody>
{{/if}}
</table>