<div class="row mt-4">
  {{#if requests.length}}
  <div class="col-md-6 requests-list">
    <h3>Current Requests:</h3>
    {{#each requests as |request|}}
    <div class="row mb-2">
      <div class="col-md-16">
        <h4>
          <a href="/request/{{request.id}}">{{request.serviceType}}: </a>
          <span>{{format_date request.serviceStartDate}} - {{format_date request.serviceStartDate}}</span>
        </h4>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <div class="col-md-6 requests-list">
    <h3>No Requests yet</h3>
  </div>
  {{/if}}
</div>