<!-- to show the single request -->
<div class="row mt-4">
  <p>Pet name: {{petName}}</p>
  <p>Pet type: {{petType}}</p>
  <p>Pet breed: {{petBreed}}</p>
  <p>Pet weight: {{petWeight}}</p>
  <p>Service type: {{serviceType}}</p>
  <p>Service start date: {{serviceStartDate}}</p>
  <p>Service end date: {{serviceEndDate}}</p>
  <p>Owner phone #: {{ownerPhone}}</p>
</div>