
<div class="row mt-4">
  <div class = "card">
    <div class = "card-header">
      <h4>Record Details</h4></div>
  <div><span class="text-primary">Owner name: </span><span class = "output">{{owner.ownerName}}</span></div>
  <div><span class="text-primary">Pet Details: </span><span class = "output"></span>{{petName}}, {{petType}}, {{petBreed}}, {{petWeight}} lbs </span></div>
  <div><span class="text-primary">Service type: </span><span class = "output"></span>{{serviceType}}</span></div>
  <div><span class="text-primary">Service Dates: </span><span class = "output"></span>{{format_date serviceStartDate}} - {{format_date serviceEndDate}}</span></div>
  <div><span class="text-primary">Owner phone #: </span><span class = "output"></span>{{ownerPhone}}</span></div>
  </div>
  <!--delete button-->
 
  <div>
    <button class="btn btn-danger delete-btn" data-request-id="{{id}}">DELETE REQUEST</button>
  </div>
</div>
</div>

<script src="/js/delete.js"></script>