<!-- to show the single request -->
<div class="row mt-4">
  <div><span class="text-primary">Owner name: </span>{{owner.ownerName}}</div>
  <div><span class="text-primary">Pet: </span>{{petName}}, {{petType}}, {{petBreed}}, {{petWeight}} lbs </div>
  <div><span class="text-primary">Service type: </span>{{serviceType}}</div>
  <div><span class="text-primary">Service start date: </span>{{format_date serviceStartDate}}</div>
  <div><span class="text-primary">Service end date: </span>{{format_date serviceEndDate}}</div>
  <div><span class="text-primary">Owner phone #: </span>{{ownerPhone}}</div>
  <!--delete button-->
  <div>
    <button class="btn btn-danger delete-btn" data-request-id="{{id}}">DELETE REQUEST</button>
  </div>

</div>

<script src="/js/delete.js"></script>